<script type="text/template" id="carts_view">
<div class="modal fade" id="cart" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shoping Cart</h4>
        </div>
        <div class="modal-body">
          <table class="table-hover">
            <tbody>
              {% for(var i = 0; i < products.length; i++) { %}
                  <tr>
                    <td class="product-image">
                      <img src="images/bike_1.jpg" />
                    </td>
                    <td class="product-name">
                      <span>{%- products[i].name %}</span>
                    </td>
                    <td class="product-price">
                      <span>Rs.{%- products[i].price %}</span>
                    </td>
                  </tr>
            </tbody>
          </table>
          <table class="carts-total">
            <tbody>
              <tr>
                <td style="text-align: right;width: 477px;padding-right: 20px;font-size: 22px;font-weight: 500;">Total</td>
                <td>
                  <span class="products-total">Rs. {%- total %}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Proceed to checkout</button>
        </div>
      </div>
    </div>
</div>
</script>